.arm_female { background-image: url('./body.png'); background-size: 256px 128px; background-position: 0 0; width: 64px; height: 128px; }
.arm_male { background-image: url('./body.png'); background-size: 256px 128px; background-position: -64px 0; width: 64px; height: 128px; }
.body_female { background-image: url('./body.png'); background-size: 256px 128px; background-position: -128px 0; width: 64px; height: 128px; }
.body_male { background-image: url('./body.png'); background-size: 256px 128px; background-position: -192px 0; width: 64px; height: 128px; }
