.bottom_4001 {
  background-position: calc(var(--scale) * 0);
  mask-position: calc(var(--scale) * 0);
  -webkit-mask-position: calc(var(--scale) * 0);
}
.bottom_4002 {
  background-position: calc(var(--scale) * -48px);
  mask-position: calc(var(--scale) * -48px);
  -webkit-mask-position: calc(var(--scale) * -48px);
}
.bottom_4003 {
  background-position: calc(var(--scale) * -96px);
  mask-position: calc(var(--scale) * -96px);
  -webkit-mask-position: calc(var(--scale) * -96px);
}
.bottom_4004 {
  background-position: calc(var(--scale) * -144px);
  mask-position: calc(var(--scale) * -144px);
  -webkit-mask-position: calc(var(--scale) * -144px);
}
.bottom_4005 {
  background-position: calc(var(--scale) * -192px);
  mask-position: calc(var(--scale) * -192px);
  -webkit-mask-position: calc(var(--scale) * -192px);
}
.bottom_4006 {
  background-position: calc(var(--scale) * -240px);
  mask-position: calc(var(--scale) * -240px);
  -webkit-mask-position: calc(var(--scale) * -240px);
}
.bottom_4007 {
  background-position: calc(var(--scale) * -288px);
  mask-position: calc(var(--scale) * -288px);
  -webkit-mask-position: calc(var(--scale) * -288px);
}
.bottom_4008 {
  background-position: calc(var(--scale) * -336px);
  mask-position: calc(var(--scale) * -336px);
  -webkit-mask-position: calc(var(--scale) * -336px);
}
.bottom_4009 {
  background-position: calc(var(--scale) * -384px);
  mask-position: calc(var(--scale) * -384px);
  -webkit-mask-position: calc(var(--scale) * -384px);
}
.bottom_4010 {
  background-position: calc(var(--scale) * -432px);
  mask-position: calc(var(--scale) * -432px);
  -webkit-mask-position: calc(var(--scale) * -432px);
}
.bottom_4011 {
  background-position: calc(var(--scale) * -480px);
  mask-position: calc(var(--scale) * -480px);
  -webkit-mask-position: calc(var(--scale) * -480px);
}
.bottom_4012 {
  background-position: calc(var(--scale) * -528px);
  mask-position: calc(var(--scale) * -528px);
  -webkit-mask-position: calc(var(--scale) * -528px);
}
.bottom_4013 {
  background-position: calc(var(--scale) * -576px);
  mask-position: calc(var(--scale) * -576px);
  -webkit-mask-position: calc(var(--scale) * -576px);
}
.bottom_4014 {
  background-position: calc(var(--scale) * -624px);
  mask-position: calc(var(--scale) * -624px);
  -webkit-mask-position: calc(var(--scale) * -624px);
}
.bottom {
  width: calc(var(--scale) * 48px);
  height: calc(var(--scale) * 48px);
  background-image: url('./bottom.png');
  background-size: calc(var(--scale) * 672px) calc(var(--scale) * 48px); background-repeat: repeat-x;
}
.bottom.dyable {
  background-blend-mode: multiply;
  mask-type: luminance;
  mask-image: url('./bottom.png');
  -webkit-mask-image: url('./bottom.png');
  mask-size: calc(var(--scale) * 672px) calc(var(--scale) * 48px);
  -webkit-mask-size: calc(var(--scale) * 672px) calc(var(--scale) * 48px);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;background-color: hsl(var(--bottom-color));
}
