
.hat_2001 {
  background-position: calc(var(--scale) * 0);
  }
.hat_2002 {
  background-position: calc(var(--scale) * -48px);
  }
.hat_2003 {
  background-position: calc(var(--scale) * -96px);
  }
.hat_2004 {
  background-position: calc(var(--scale) * -144px);
  }
.hat_2005 {
  background-position: calc(var(--scale) * -192px);
  }
.hat_2006 {
  background-position: calc(var(--scale) * -240px);
  }
.hat_2007 {
  background-position: calc(var(--scale) * -288px);
  }
.hat_2008 {
  background-position: calc(var(--scale) * -336px);
  }
.hat_2009 {
  background-position: calc(var(--scale) * -384px);
  }
.hat_2010 {
  background-position: calc(var(--scale) * -432px);
  }
.hat_2011 {
  background-position: calc(var(--scale) * -480px);
  }
.hat_2012 {
  background-position: calc(var(--scale) * -528px);
  }
.hat_2013 {
  background-position: calc(var(--scale) * -576px);
  }
.hat_2014 {
  background-position: calc(var(--scale) * -624px);
  }
.hat_2015 {
  background-position: calc(var(--scale) * -672px);
  }
.hat_2016 {
  background-position: calc(var(--scale) * -720px);
  }
.hat_2017 {
  background-position: calc(var(--scale) * -768px);
  }
.hat_2018 {
  background-position: calc(var(--scale) * -816px);
  }
.hat_2019 {
  background-position: calc(var(--scale) * -864px);
  }
.hat_2020 {
  background-position: calc(var(--scale) * -912px);
  }
.hat_2021 {
  background-position: calc(var(--scale) * -960px);
  }
.hat_2022 {
  background-position: calc(var(--scale) * -1008px);
  }
.hat_2023 {
  background-position: calc(var(--scale) * -1056px);
  }
.hat_2024 {
  background-position: calc(var(--scale) * -1104px);
  }
.hat_2025 {
  background-position: calc(var(--scale) * -1152px);
  }
.hat_2026 {
  background-position: calc(var(--scale) * -1200px);
  }
.hat_2027 {
  background-position: calc(var(--scale) * -1248px);
  }
.hat_2028 {
  background-position: calc(var(--scale) * -1296px);
  }
.hat_2029 {
  background-position: calc(var(--scale) * -1344px);
  }
.hat_2030 {
  background-position: calc(var(--scale) * -1392px);
  }
.hat_2031 {
  background-position: calc(var(--scale) * -1440px);
  }
.hat_2032 {
  background-position: calc(var(--scale) * -1488px);
  }
.hat_2033 {
  background-position: calc(var(--scale) * -1536px);
  }
.hat_2034 {
  background-position: calc(var(--scale) * -1584px);
  }
.hat_2035 {
  background-position: calc(var(--scale) * -1632px);
  }
.hat_2036 {
  background-position: calc(var(--scale) * -1680px);
  }
.hat_2037 {
  background-position: calc(var(--scale) * -1728px);
  }
.hat_2038 {
  background-position: calc(var(--scale) * -1776px);
  }
.hat_2039 {
  background-position: calc(var(--scale) * -1824px);
  }
.hat_2040 {
  background-position: calc(var(--scale) * -1872px);
  }
.hat_2041 {
  background-position: calc(var(--scale) * -1920px);
  }
.hat_2042 {
  background-position: calc(var(--scale) * -1968px);
  }
.hat_2043 {
  background-position: calc(var(--scale) * -2016px);
  }
.hat_2044 {
  background-position: calc(var(--scale) * -2064px);
  }
.hat_2045 {
  background-position: calc(var(--scale) * -2112px);
  }
.hat_2046 {
  background-position: calc(var(--scale) * -2160px);
  }
.hat_2047 {
  background-position: calc(var(--scale) * -2208px);
  }
.hat_2048 {
  background-position: calc(var(--scale) * -2256px);
  }
.hat_2049 {
  background-position: calc(var(--scale) * -2304px);
  }
.hat_2050 {
  background-position: calc(var(--scale) * -2352px);
  }
.hat_2051 {
  background-position: calc(var(--scale) * -2400px);
  }
.hat_2052 {
  background-position: calc(var(--scale) * -2448px);
  }
.hat_2053 {
  background-position: calc(var(--scale) * -2496px);
  }
.hat_2054 {
  background-position: calc(var(--scale) * -2544px);
  }
.hat_2055 {
  background-position: calc(var(--scale) * -2592px);
  }
.hat_2056 {
  background-position: calc(var(--scale) * -2640px);
  }
.hat_2057 {
  background-position: calc(var(--scale) * -2688px);
  }
.hat_2058 {
  background-position: calc(var(--scale) * -2736px);
  }
.hat_2059 {
  background-position: calc(var(--scale) * -2784px);
  }
.hat_2060 {
  background-position: calc(var(--scale) * -2832px);
  }
.hat_2061 {
  background-position: calc(var(--scale) * -2880px);
  }
.hat_2062 {
  background-position: calc(var(--scale) * -2928px);
  }
.hat_2063 {
  background-position: calc(var(--scale) * -2976px);
  }
.hat_2064 {
  background-position: calc(var(--scale) * -3024px);
  }
.hat_2065 {
  background-position: calc(var(--scale) * -3072px);
  }
.hat_2066 {
  background-position: calc(var(--scale) * -3120px);
  }
.hat_2067 {
  background-position: calc(var(--scale) * -3168px);
  }
.hat_2068 {
  background-position: calc(var(--scale) * -3216px);
  }
.hat_2069 {
  background-position: calc(var(--scale) * -3264px);
  }
.hat_2070 {
  background-position: calc(var(--scale) * -3312px);
  }
.hat_2071 {
  background-position: calc(var(--scale) * -3360px);
  }
.hat_2072 {
  background-position: calc(var(--scale) * -3408px);
  }
.hat_2073 {
  background-position: calc(var(--scale) * -3456px);
  }
.hat_2074 {
  background-position: calc(var(--scale) * -3504px);
  }
.hat_2075 {
  background-position: calc(var(--scale) * -3552px);
  }
.hat_2076 {
  background-position: calc(var(--scale) * -3600px);
  }
.hat_2077 {
  background-position: calc(var(--scale) * -3648px);
  }
.hat_2078 {
  background-position: calc(var(--scale) * -3696px);
  }
.hat_2079 {
  background-position: calc(var(--scale) * -3744px);
  }
.hat_2080 {
  background-position: calc(var(--scale) * -3792px);
  }
.hat_2081 {
  background-position: calc(var(--scale) * -3840px);
  }
.hat_2082 {
  background-position: calc(var(--scale) * -3888px);
  }
.hat_2083 {
  background-position: calc(var(--scale) * -3936px);
  }
.hat_2084 {
  background-position: calc(var(--scale) * -3984px);
  }
.hat_2085 {
  background-position: calc(var(--scale) * -4032px);
  }
.hat_2086 {
  background-position: calc(var(--scale) * -4080px);
  }
.hat_2087 {
  background-position: calc(var(--scale) * -4128px);
  }
.hat_2088 {
  background-position: calc(var(--scale) * -4176px);
  }
.hat_2089 {
  background-position: calc(var(--scale) * -4224px);
  }
.hat_2090 {
  background-position: calc(var(--scale) * -4272px);
  }
.hat_2091 {
  background-position: calc(var(--scale) * -4320px);
  }
.hat_2092 {
  background-position: calc(var(--scale) * -4368px);
  }
.hat_2093 {
  background-position: calc(var(--scale) * -4416px);
  }
.hat_2094 {
  background-position: calc(var(--scale) * -4464px);
  }
.hat {
  width: calc(var(--scale) * 48px);
  height: calc(var(--scale) * 48px);
  background-image: url('./hat.png');
  background-size: calc(var(--scale) * 4512px) calc(var(--scale) * 48px); background-repeat: repeat-x;
}
