.header {
  position: relative;
}
.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.header-bg div {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  width: 266vw;
  height: 266vw;
  transform: rotate(-45deg) translate(-30%, -5%);
  background-image: linear-gradient(214deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%), url('@/assets/galaxy_overlay.png');
  /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.3) 100%), url('@/assets/galaxy_overlay.png'); */
  /* clip-path: polygon(75% 0vmax, -15vmax 100%, 130vmax 100%); */
  mix-blend-mode: overlay;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}
.header-content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
.header-logo {
  display: block;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
}
.header-logo img {
  height: 40vmin;
  mix-blend-mode: overlay;
}
.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
  flex-grow: 1;
}
.header-hero {
  user-select: none;
  pointer-events: none;

  display: flex;
  min-height: 50vmin;
  flex-shrink: 0;
}
.header-hero svg {
  width: 50vmin;
  height: 50vmin;
  z-index: 8;
  position: absolute;
  bottom: -5vmin;
  left: 50%;
  transform: translateX(-50%);
}
.parallax {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
