.main {
  border-image: url('@/assets/border.png') 15 stretch;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  width: 100%;
  min-height: calc(2 * var(--height));
  box-sizing: border-box;
  position: relative;
  background-image: url('@/assets/galaxy_overlay.png'), linear-gradient(0deg, var(--bg-light-color) 0%, var(--bg-light-color) 100%);
  background-blend-mode: soft-light;
}
.edit_main {
  margin-left: calc(10vw + 5vw + 240px);
  padding: 4vw;
  max-width: 50%;
  position: absolute;
  right: 4vw;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  box-shadow: rgb(38 57 77 / 30%) 0px 20px 30px -10px;
}
.avatar,
.edit,
.export {
  padding: 5vh calc(10px + 4vmin);
}
.edit,
.export {
  position: relative;
  min-height: 100vh;
}
.avatar {
  position: absolute;
  left: 25%;
  top: 0;
  width: fit-content;
  height: 200vh;
  transform: translateX(-25%);
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s, left cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
.avatar.overview {
  left: 50%;
  transform: translateX(-50%);
}
