.main {
  border-image: url('@/assets/border.png') 15 stretch;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  width: 100%;
  min-height: calc(2 * var(--height));
  box-sizing: border-box;
  position: relative;
  background-image: url('@/assets/galaxy_overlay.png'), linear-gradient(0deg, var(--bg-light-color) 0%, var(--bg-light-color) 100%);
  background-blend-mode: soft-light;
}
.avatar,
.edit,
.export {
  padding: 5vh calc(10px + 4vmin);
}
.edit,
.export {
  position: relative;
  min-height: 100vh;
}
