.tab-item {
  margin-right: 0.2em;
  padding: 0.1em 0.4em;
  color: var(--tab-color);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family: var(--normal-font);
  width: 100px;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.tab-item.active {
  border-radius: 100vw;
  background: var(--tab-bg-color);
  box-shadow: var(--tab-shadow);
  transition: color 0.2s linear, background-color 0s linear 0.2s, box-shadow 0s linear 0.2s;
}
.tab-item input {
  display: none;
  appearance: none;
}
.tab-item img {
  width: 2em;
  height: 2em;
  mix-blend-mode: screen;
}
.tab-item span {
  margin-left: 0.3em;
  font-size: 0.83em;
}
.tab-item.active span {
  color: var(--tab-active-color);
}
